@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-image: url("../src/assets/images/MainBG.png");
}
@import "swiper/swiper-bundle.min.css";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Advent-Pro-Bold";
  src: url("./assets/fonts/advent-pro.bold.ttf") format("opentype");
}
@font-face {
  font-family: "Advent-Pro-Regular";
  src: url("./assets/fonts/advent-pro.regular.ttf") format("opentype");
}
@font-face {
  font-family: "Advent-Pro-SemiBold";
  src: url("./assets/fonts/advent-pro.semibold.ttf") format("opentype");
}

@font-face {
  font-family: "Paladins-Condensed";
  src: url("./assets/fonts/paladinscond.ttf") format("opentype");
}
@font-face {
  font-family: "Paladins-Straight";
  src: url("./assets/fonts/paladinsstraight.ttf") format("opentype");
}

.slider-card {
  clip-path: polygon(14% 0%, 77% 0%, 100% 23%, 100% 100%, 13% 100%);
}
